// This defines the layout-related styles, such as grid, containers, and overall page structure.

@use 'base' as *;

header {
    display: flex;
    justify-content: space-between;

    .navbar__menu {
        @extend header;
        align-items: center;
    }
}

.hero {
    display: flex;
    
    &__box {
        @extend .hero;
        flex-direction: column;
    }
}

.features {
    display: flex;
    justify-content: center;
}

.we {
    display: flex;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}